<div class="container">
  <% if current_user && (current_user.editor? || current_user.admin?) %> 
<%= link_to 'Добавить новость', new_message_path, class: 'btn btn-primary' %>
<% end %>
  <h3 class="text-center">Новости</h3>
    <% @messages.each do |message| %>
      <div class="col-md-4 thumbnail">
        <div class="text-uppercase text-center"><b><%= message.title %></b></div>
        <%= link_to image_tag(message.picture, class: 'sizeimg'), message %>
        <div class="text-center"><b><%= truncate(strip_tags(message.article), length: 100) %></b></div><br/>
        <small><i><%= message.created_at.strftime("%d.%m.%Y, %H:%M") %></i></small> <br/>      <hr/>
         
          <div class="text-center">
            <%= link_to 'Show', message, class: 'btn btn-primary' %>
            <% if current_user && (current_user.editor? || current_user.admin?) %> 
              <%= link_to 'Edit', edit_message_path(message), class: 'btn btn-success' %>
              <%= link_to 'Destroy', message, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>            
          </div>
    </div>

    <% end %>
    <p id="notice"><%= notice %></p>
 

<br>

</div>