<div class="container">
  <h3 class="text-center">Оставить отзыв о ресторане</h3>
  <form>
    <%= form_for comments_path, :method => :post do |f| %>
      <div class="form-group">
        <%= f.text_field :name, class: 'form-control input-sm', placeholder: 'Имя' %>
      </div>
      <div class="form-group">
        <%= f.email_field :email, class: 'form-control input-sm', placeholder: 'Email (не публикуется)' %>
      </div>
      <div class="form-group">
        <%= f.text_field :title, class: 'form-control input-sm', placeholder: 'Заголовок (не обязательно)' %>
      </div>
      <div class="form-group">
        <%= f.text_area :text, class: 'form-control input-sm', placeholder: 'Место для вашего отзыва' %>
      </div>
        <%= f.submit "Отправить", class: "btn btn-success btn-sm" %>
    <% end %>
  </form> 

  <h3 class="text-center">Отзывы</h3>
  <div id="comments">
  <%= render :partial => @comments.reverse %>
</div>
</div>