<div class="container">
  <%= form_for([@category, @option]) do |f| %>       
    <%= f.text_field :title, class: 'form-control' %><br/> 
    <%= f.text_field :quantity, class: 'form-control' %><br/> 
    <%= f.text_field :price, class: 'form-control' %><br/> 
    <%= f.hidden_field :category_id %><br/>      
    <%= f.submit 'Обновить', class: 'btn btn-success' %>
  <% end %>
</div>