<%= form_for(@information) do |f| %>
  <% if @information.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@information.errors.count, "error") %> prohibited this information from being saved:</h2>

      <ul>
      <% @information.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p> 
  <%= f.label :title %><br/>
  <%= f.text_field :title %>
</p>

<p> 
  <%= f.label :article %><br/>
  <%= f.text_field :article %>
</p>

<p> 
  <%= f.label :description %><br/>
  <%= f.text_area :description %>
</p>

<p> 
  <%= f.label :picture %><br/>
  <%= f.text_field :picture %>
</p>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>