<div class="container">
<%= @information.title %>
<%= @information.article %>
<%= @information.description %>
 <%= link_to 'Edit', edit_information_path(@information) %> |
  <%= link_to 'Destroy', @information, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'Back', informations_path %>
</div>

